<div class="card">
    <div class="card-body text-center">
        <h1 class="d-flex justify-content-center">Nova Categorias</h1>
            <form action="/admin/save" method="post">
                <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="name" placeholder="Nome da categoria" class="form-control">
                <label for="slug">Slug</label>
                    <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control">
                    <br>
                <a href="/admin/save"><button  class="btn btn-success" type="submit">Salvar Categoria</button></a>
            </form>
    </div>
</div>
